@using System.Web.Mvc.Html
@model IEnumerable<Web.ViewModels.GenreViewModel>
@{
    ViewBag.Title = "AddFood";
}
<div>@Html.ActionLink("Add", "AddFood", "Movie",null,null)</div>

@foreach (var genre in Model)
{
    <div style="border: 1px solid red; width: 100px; height: 100px;">
        <div>@genre.Name</div>
        <div>@Html.ActionLink("Delete", "Delete", "Movie",new {id = genre.Id},null)</div>
        <div>@Html.ActionLink("Edit", "EditFood", "Movie",new {id = genre.Id},null)</div>
    </div>
}

