@model MoviesService.Dto.CountryDto

@using (Html.BeginForm())
{
    <div class="authorization-position">
        <table>
            <tr>
                <th style="width:200px"> @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "authorization-label" })</th>
                <th> @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "authorization-login" } })</th>
                <th style="margin-left: 10px;"> @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})</th>
            </tr>
        </table>

        <input type="submit" value="Add" class="authorization-button"/>
    </div>
}