@model  Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.CountryDto>
<div class="background-cover">
    <dl>
        <dd>
            Are you sure you want to delete @Html.DisplayFor(model => model.Entity.Name)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
<input type="submit" value="Delete" />}
</div>
