.vs/
packages/
IdentityService/bin/
IdentityService/obj/
MoviesService/bin/
MoviesService/obj/
Web/bin/
Web/obj/
IdentityService.Tests/bin/
IdentityService.Tests/obj/
MoviesService.Tests/bin/
MoviesService.Tests/obj/
*.orig
.htm
