@model  MoviesService.Dto.TypesDto
<h2>Delete</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>
 
@using (Html.BeginForm())
{
    <input type="submit" value="Удалить"  />
}