@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.TypesDto>

<h2>Edit genre</h2>

@using (Html.BeginForm("Update", "MediaType", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Entity.Id)
        <p>
            @Html.LabelFor(m => m.Entity.Name, "Name")
            <br />
            @Html.EditorFor(m => m.Entity.Name)
        </p>
        <p><input type="submit" value="Send" /></p>
    </fieldset>
}