@using System.Web.Mvc.Html
@model IEnumerable<Web.ViewModels.TypeViewModel>

<div>@Html.ActionLink("Add", "Add", "MediaType",null,null)</div>

@foreach (var genre in Model)
{
    <div style="border: 1px solid red; width: 100px; height: 100px;">
        <div>@genre.Name</div>
        <div>@Html.ActionLink("Delete", "Delete", "MediaType", new {id = genre.Id},null)</div>
        <div>@Html.ActionLink("Edit", "Edit", "MediaType", new {id = genre.Id},null)</div>
    </div>
}