body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}
/*Layout*/
.authorization-login-logout {
    float: right;
}

.user-name-position {
    margin-top: 15px;
    color: white;
}

.search {
    top: 7px;
    margin-right: 300px;
}

.search-input {
    width: 400px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

.seach-button {
    background-color: black;
    border: none;
    color: white;
    font-size: 20px;
}

.main-sector {
    width: 80%;
    background-color: rgba(0, 0, 0, .5);
    padding-left: 15px;
    padding-right: 15px;
}






.Active {
    color: white;
    background-color: black;
}