@model  Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.GenresDto>
<div class="background-cover">
    <dl>
        <dd>
            Are you sure you want to delete @Model.Entity.Name
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
<input type="submit" value="Delete" />}
</div>


