@model  Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.MediaDto>
<h2>Delete</h2>
<dl>
    <dt>Name</dt>
    <dd>
        @Html.DisplayFor(model => model.Entity.Name)
    </dd>
</dl>
 
@using (Html.BeginForm())
{
    <input type="submit" value="Удалить"  />
}