@using MoviesService.Dto
@model MoviesService.Dto.MediaDto

@using (Html.BeginForm("Search", "SearchMovie", FormMethod.Post))
{
    <h3 style="color: gold">Input name</h3>
    <input name="searchData" type="text"/>
    <button name="action" value="search">Search</button>
}