@model Web.ViewModels.HomePageViewModel
@foreach (var myList in @Model.AllMedia.Where(x => @Model.MyList.Contains(x.Id)))
{
    <div>@myList.Name</div>
}


<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-4 col-md-12">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6">

        </div>
    </div>
</div>