<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 class1">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 class1">

        </div>
    </div>
</div>

<iframe style="border: none;" width="100%" height="515" src="https://www.youtube.com/embed/_2aWqecTTuE?autoplay=1&mute=1" allow="autoplay;" allowfullscreen></iframe>