@model List<MoviesService.Models.Media>

<div class="background-cover">
    @foreach (var entity in Model)
    {
        <div class="basic-block">
            <a href="@Url.Action("DetailsApi", "Media", new {id = entity.IMDbMovieId})">
                <img class="img" src="@entity.Poster" height="300" width="200" alt="" />
                <p class="text">@entity.Name</p>
            </a>
        </div>
    }
</div>