<div>@Html.ActionLink("Manage Genre", "ListOfEntities", "Genre", null,null)</div>
<div>@Html.ActionLink("Manage Country", "ListOfEntities", "Country", null,null)</div>
<div>@Html.ActionLink("Manage Type", "ListOfEntities", "MediaType", null,null)</div>
<div>@Html.ActionLink("Manage Movie", "ListOfEntities", "Media", null,null)</div>