@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.EpisodeDto>
<div class="background-cover">
    <div style="border: 1px solid red; width: 100px; height: 300px;" />
    <div>@Model.Entity.Name</div>
    <div>@Model.Entity.Id</div>
    <div>@Model.Entity.Plot</div>
    <img width="200" height="200" src="@Model.Entity.Image" />
</div>


