@model Web.ViewModels.GenericEntitiesViewModel<MoviesService.Dto.EpisodeDto>
<div class="background-cover">
    <div>@Model.Entity.Name</div>
    <div>@Model.Entity.Plot</div>
    <img width="200" height="200" src="@Model.Entity.Image" />
</div>


